body{
    margin: 0;
    padding: 0;
    background-color: #9e8ba0;
}
.collapse{
    display: flex !important;
    justify-content: flex-end;
    flex-wrap: wrap;
}
i{
    font-size: xx-large;
}
.img_room{
    height: 200px;
}
.img_room img{
    height: 100%;
}